<p>You can install either <code>ember install</code>:</p>

<p>For Ember CLI >= <code>0.2.3</code>:</p>

<p><code>shell
ember install ember-route-constraints
</code></p>

<p>For Ember CLI &lt; <code>0.2.3</code>:</p>

<p><code>shell
ember install:addon ember install ember-route-constraints
</code></p>
